<section class="section">
	<div class="box">
		<div class="media">
			<figure class="media-left">
				<img src="https://fakeimg.pl/50x50/">
			</figure>
			<div class="media-content">
				<strong><%= @payment_type %>（USD <%= @fee %>）</strong>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id leo sed erat dapibus molestie tristique id tortor.</p>
				
				<%= form_with url: pay_users_path(type: params[:type]), id: 'pay-form', method: 'post', local: 'true' do |form| %>
					<%= form.hidden_field :payment_nonce %>
					<div id="dropin-container"></div>
					<%= link_to "重新選擇方案", pricing_users_path, class: 'button is-light' %>
					<button id="submit-button" class="button is-danger">確認付款</button>
				<% end %>

			</div>
		</div>
	</div>
</section>

<script src="https://js.braintreegateway.com/web/dropin/1.22.1/js/dropin.min.js"></script>
<script>
	document.addEventListener('turbolinks:load', function(event){
		var button = document.querySelector('#submit-button');
		let nonce_field = document.querySelector('input[name="payment_nonce"]')
		let form = document.querySelector('#pay-form')
		braintree.dropin.create({
			authorization: '<%= @token %>',
			container: '#dropin-container'
		}, function (createErr, instance) {
			button.addEventListener('click', function (event) {
				event.preventDefault()
				instance.requestPaymentMethod(function (err, payload) {
					nonce_field.value = payload.nonce
					form.submit()
					// Submit payload.nonce to your server
				});
			});
		});
	})
</script>
