<h2>忘記您的密碼？</h2>
<br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, '帳號', class: "label" %>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "寄修改密碼步驟給我", class: "button is-info" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>


