<section class="columns story-content">
  <section class="column is-haft">
    
    <h1 class="title"><%= @story.title %></h1>

    <span class="profile">
      <%= image_tag @story.user.avatar.variant(resize:'50x50'), class: 'avatar' if @story.user.avatar.attached? %>
      <span class="username"><%= @story.user.username %></span>
      <a href="#" class="follow-button">Follow</a>
      <p><%= @story.created_at.strftime("發表於 %Y/%m/%d")%></p>
    </span>

    <%= image_tag @story.cover_image.variant(resize:'1000x800'), class: 'story-cover' if @story.cover_image.attached? %>
    
    <article class="content">
      <p><%= simple_format(@story.content)%></p>
      
      <footer data-controller="story">
        <%= link_to "#", class: 'is-size-3 has-text-primary clapButton', data:{ action:'story#addClap', slug:@story.slug } do %>
          <i class="far fa-hand-spock"></i>
          <span class="clapCount" data-target="story.clapCount"><%= @story.clap %></span>
        <% end %>
      </footer>

    </article>

    <hr>

    <section class="comments">

      <h2>留言</h2>

      <section class="comment-editor">
        <%= render 'comment_area', story: @story, comment: @comment %>
      </section>

      <section class="comment-list">
        <%= render partial: 'comment', collection: @comments %>
      </section>

    </section>

  </section>
</section>