<%= form_for(story) do |form| %>
    <div class="field">
      <%= form.label :title, '文章標題' %>
      <%= form.text_field :title, class: 'input is-medium' %>
    </div>

    <div class="field">
      <%= form.label :cover_image, '文章照片' %>
      <br>
      <%= form.file_field :cover_image %>
      <%= image_tag story.cover_image.variant(resize:'1000x800') if story.cover_image.attached? %>
    </div>

    <div class="field">
      <%= form.label :content, '文章內容' %>
      <%= form.text_area :content, class: 'textarea', rows: '10' %>
    </div>

    <div class="field">
      <% if story.published? %>
        <%= form.submit '更新文章', name: 'save_as_draft', class: 'button is-light'%>
        <%= form.submit '下架文章', name: 'unpublish', class: 'button is-danger'%>
      <% else %>
        <%= form.submit '儲存草稿', name: 'save_as_draft', class: 'button is-light'%>
        <%= form.submit '發佈文章', name: 'publish', class: 'button is-primary'%>
      <% end %>
    </div>
<% end %>